/bin/
/obj/
*.vcxproj.user
*.suo
*.sdf
.vs/WorkhubForWindows/v16/.suo
.vs/WorkhubForWindows/project-colors.json
.vs/WorkhubForWindows/v16/.suo
.vs/WorkhubForWindows/v16/.suo
*.pdb
*.exe
*.cache
*.dll
/.vs/
